header{
    font-family: 'Ysabeau', sans-serif;
    text-align: center;
    background-color : #B5E48C;
    padding-top:50px;
    padding-bottom: 50px;
}
main{
    display: flex;
    justify-content: center;
    
    background-color:#99D98C;
}
img{
    width:300px;
    height:300px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
p{
    font-family: 'Gamja Flower', cursive;
}

